:root {
    --background-color-one : #FAF0EC;
    --background-color-two : #FFF7E1;
    --header-color-one : #FA680F;
    --header-color-two : #FA240F;
    --card-color-one : #fdf1cf;
    --card-color-two : #faeabd;
}