.main-gerenciarCantinas {
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.cantinas-cadastradas {
    width: 20%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px) {
    .cantinas-cadastradas {
        display: none;
    }
    .cantina-selecionada {
        width: 100%;
    }
}
.logo-lanchonete {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 20px;
    background-color: #FA680F;
    transition: 0.3s;
}
.cantinas-cadastradas .logo-lanchonete:hover {
    transform: scale(1.1);
}
.logo-lanchonete img {
    max-height: 100%;
}
.cantina-selecionada {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 90vh;
}
.info {
    display: flex;
    height: 50%;
}
.info-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-txt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-txt div {
    border: 1px solid #FA680F;
    background-color: #FFFFFF;
    margin: 0 5%;
    padding: 15px;
    border-radius: 3rem;
}
.info-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-logo button {
    padding: 5px;
    background-color: #FFFFFF;
    color: #FA240F;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #FA240F;
    border-radius: 1rem;
}