main {
    flex-direction: row;
    justify-content: center;
}

.main-index {
    display: flex;
}

main .parte-escrita {
    margin: auto;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .titulo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #FA240F;
}

main .subtitulo {
    font-family: 'Roboto', cursive;
    text-align: center;
    font-size: 24px;
    color: #FA240F;
    padding: 0 50px 0 50px;
}
.subtitulo_tela_lanchonetes {
    margin-top: 30px;
}

main .botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main .botoes a {
    height: 60px;
    width: 190px;
    margin-top: 25px;
    justify-content: space-around;
    text-align: center;
    background-color: linear-gradient(to right, #FAF0EC, #FFF7E1);
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #FA240F;
    border: 2px solid #FA240F;
    transition: 0.3s;
}

main .botoes a:hover {
    background-color: #FA240F;
    color: #FFF7E1;
}

main .botoes h3 {
    margin-top: 8px;
}

main .titulo-vantagens {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #FA240F;
}

main .vantagens {
    margin-top: 25px;
    color: #FA240F;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

main .titulo-sobre {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FA240F;
}

main .sobre {
    color: #FA240F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

aside {
    margin: auto;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

aside .desktop {
    margin-top: 40px;
    height: fit-content;
    max-height: 400px;
    width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    border: #FA240F 1px solid;
}

aside .telas-mobile {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90%;
}

aside .telas-mobile img {
    height: fit-content;
    max-height: 400px;
    width: fit-content;
    max-width: 50%;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}

@media (max-width: 1050px) {
    main {
        flex-direction: column;
    }
    aside {
        max-width: 100%;
    }
    aside .desktop {
        max-width: 80%;
    }
}
@media (max-width: 650px) {
    main .botoes{
        flex-direction: column;
        gap: 10px;
    }

    main .parte-escrita {
        padding: 0;
    }

    .titulo-vantagens, .vantagens {
        display: none;
    }
}