.subtitulo {
    font-family: 'Roboto', cursive;
    text-align: center;
    font-size: 24px;
    color: #FA240F;
    padding: 0 50px 0 50px;
    margin-top: 30px;
}

.titulo-lanchonetes {
    margin-top: 25px;
    color: #FA240F;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-left: 50px;
}

.lanchonetes-cadastradas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
}

.card-lanchonete {
    width: 400px;
    height: 200px;
    border: 1px solid #FA240F;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    text-align: center;
    color: #FA240F;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    box-shadow:  20px 20px 35px #afa8a5;

}

.card-lanchonete:hover {
    transform: scale(1.05);
}

.logo-lanchonete {
    background: #FA240F;
    height: 100%;
    width: 40%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /*esconde o conteúdo que ultrapassar a div*/
}

.logo-lanchonete img {
    max-height: 100%;
}

.info-lanchonete {
    height: 100%;
    width: 60%;
    padding: 5px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.nome-lanchonete {
    margin: 0 0 5px 0;
    font-size: 24px;
  }
  
.localizacao-lanchonete,
.horario-lanchonete {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 919px) {
    .lanchonetes-cadastradas {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .card-lanchonete {
        width: 100%;
    }
    .lanchonetes-cadastradas {
        padding: 30px 5px;
    }
    .subtitulo {
        font-size: 18px;
    }
    .titulo-lanchonetes {
        font-size: 18px;
    }
    .nome-lanchonete {
        font-size: 18px;
    }
    .localizacao-lanchonete, .horario-lanchonete {
        font-size: 14px;
    }
}