@import "/css/cores.css";

main {
    padding: 20px;
}

.formularios {
    max-width: 900px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    color: var(--header-color-two);
    text-align: center;
}

.card-formulario {
    border: 1px solid var(--header-color-two);
    border-radius: 1rem;
    padding: 20px;
    margin: 20px 0;
}

.card-formulario .card-minimizado {
    display: flex;
}

.card-formulario .num {
    width: 5%;
}

.card-formulario .nome {
    width: 90%;
}

.card-formulario i {
    width: 5%;
}

.card-formulario i:hover {
    transform: scale(1.3);
}

.formulario-enviado div {
    border: 1px solid var(--header-color-two);
    background-color: var(--background-color-two);
    border-radius: 3rem;
    padding: 10px;
    margin: 10px 0 20px 0;
}

.formulario-enviado img{
    max-width: 100%;
    max-height: 300px;
    margin: 10px auto 20px auto;
}

.formulario-enviado button {
    padding: 10px;
    width: 150px;
    background-color: #FFFFFF;
    margin: 20px;
    color: #FA240F;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #FA240F;
    border-radius: 3rem;
    transition: 0.3s;
}
.formulario-enviado button:hover {
    transform: scale(1.1);
    background-color: #FA240F;
    color: #FFFFFF;
}

@media (max-width: 625px) {
    .card-formulario .card-minimizado {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .card-formulario .card-minimizado * {
        width: 100%;
    }
}