@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: default;
}

main h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #FA240F;
}

.lanchonete-ilustrativa {
    padding: 30px;
    width: 100%;
}

.pedido {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border: #FA240F 1px solid;
    border-radius: 50px;
    color: #FA680F;
    margin-bottom: 15px;
}

.pedido img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
}

.pedido-minimizado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#visualizar {
    margin-right: 40px;
    font-size: 30px;
    color: #FA240F;
    transition: 0.2s;
    cursor: pointer;
}

#visualizar:hover {
    transform: scale(1.2);
}

.pedido-maximizado {
    padding: 30px;

}

.itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: #FA240F 1px solid;
    border-radius: 50px;
    margin-bottom: 10px;
}

.itens h2 {
    width: 150px;
}

.pedido a {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    height: 60px;
    width: 45%;
    background: #FA240F;
    color:#FFF7E1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.2s;
}

.botoes {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a:hover {
    transform: scale(1.05);
}

.pedido .Alterar {
    background: #FA680F;
}

@media (max-width: 750px) {
    .itens h2 {
        width: 100px;
    }
}

@media (max-width: 550px) {
    .pedido img {
        width: 75px;
        height: 75px;
        border-radius: 75px;
    }

    main h2, main h3 {
        font-size: 20px;
    }

    .pedido a {
        font-size: 20px;
        height: 40px;
    }

    .itens h2 {
        width: 75px;
    }
}

@media (max-width: 500px) {
    .nome {
        display: none;
    }
}

@media (max-width: 400px) {
    main h2, main h3 {
        font-size: 16px;
    }

    .pedido img {
        width: 70px;
        height: 70px;
    }
}