main {
    background: #fdf1cf;
    width: 95%;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #FA240F;
    font-size: 30px;
    cursor: default;
}

.x {
    cursor: pointer;
}

main h2 {
    color: #FA240F;
}

.item {
    background: #faeabd;
    display: flex;
    color: #FA680F;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    border: 1px solid #FA680F;
    margin-bottom: 10px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}

.item h2 {
    margin-right: 15px;
}

.nome {
    width: 15%;
    font-size: 35px;
}

.horario-retirada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.valor {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botoes {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botoes a {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    height: 60px;
    background: #FA240F;
    color:#FFF7E1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.2s;
}

.botoes .adicionar {
    width: 48%;
    background: #FA680F;
}

.confirmar {
    width: 48%;
}

a:hover {
    transform: scale(1.05);
}

#lixeira {
    color: #FA240F;
    cursor: pointer;
    margin-right: 25px;
    transition: 0.2s;
}

#lixeira:hover {
    transform: scale(1.2);
}

#horario {
    width: 20%;
    font-size: 30px;
    color: #FA680F;
    background: transparent;
    border-radius: 20px;
    border: #FA680F 2px solid;
    cursor: pointer;
}

@media (max-width: 1140px) {
    .nome {
        width: 20%;
        font-size: 25px;
    }
}

@media (max-width: 750px) {
    main {
        width: 90%;
    }
    .nome {
        font-size: 25px;}
}

@media (max-width: 650px) {
    #horario {
        width: 30%;
        font-size: 25px;
    }

    i {
        margin-right: 10px;
    }

    .nome {
        display: none;
    }
}

@media (max-width: 500px) {
    main {
        font-size: 25px;
    }

    .item img {
        width: 80px;
        height: 80px;
    }

    a {
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    main {
        font-size: 20px;
    }

    .item img {
        width: 60px;
        height: 60px;
    }

    a {
        font-size: 25px;
    }

    i {
        margin-right: 0px;
    }

    #horario {
        width: 40%;
    }
}

@media (max-width: 350px) {
    main {
        font-size: 17px;
    }
}
