main {
    width: 900px;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #FA240F;
    font-size: 30px;
    cursor: default;
}

.x {
    cursor: pointer;
}

main h2 {
    color: #FA240F;
}

.item {
    display: flex;
    color: #FA680F;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #FA680F;
    margin-bottom: 10px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}

.item h2 {
    margin-right: 15px;
}

.horario-retirada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.valor {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background: #FA240F;
    color:#FFF7E1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#horario {
    width: 20%;
    font-size: 30px;
    color: #FA680F;
    background: transparent;
    border-radius: 20px;
    border: #FA680F 2px solid;
    cursor: pointer;
}
