@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lanche-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: default;
    border-radius: 20px;
}

.lanche-principal img {
    width: px;
    height: 500px;
}

.titulo-lanche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-lanche h1 {
    font-family: 'Lobster', cursive;
    color: #FA240F;
    font-size: 80px;
    margin-top: 20px;
}

.titulo-lanche p {
    font-family: 'Roboto', sans-serif;
    color: #FA680F;
    font-size: 20px;
}

.informacoes-do-lanche {
    background: #fdf1cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 500px;
}

.descrição {
    font-family: 'Roboto', sans-serif;
    color: #FA680F;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}

.info-lanche {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FA240F;
}

.unidade {
    margin-left: 260px;
}

.dinheiros {
    border: #FA240F solid 1px;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 150px;
}

.dinheiros h2 {
    font-family: 'Roboto', sans-serif;
    color: #FA240F;
    font-size: 30px;
}

.quantificador {
    background:#FA680F;
    width: 120px;
    border-radius: 20px;
}

.quantificador h2 {
    margin-left: 13px;
    color: #FFF7E1;
}

.info-lanche a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    width: 380px;
    height: 40px;
    background: #FA240F;
    color:#FFF7E1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

@media (max-width: 950px) {
    .lanche-principal {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 950px) and (max-height: 850px) {
    .lanche-principal img {
        width: 350px;
        height: 300px;
    }

    .descrição {
        margin-bottom: 10px;
    }
    .informacoes-do-lanche {
        width: 350px;
        height: 300px;
    }

}
