.main-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.card-admin {
    width: 90%;
    max-width: 600px;
    border: 1px solid #FA680F;
    border-radius: 1rem;
    text-align: center;
    padding: 20px;
    color: #FA680F;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    box-shadow:  20px 20px 40px #afa8a5;
}

.card-admin h3 {
    font-size: 22px;
}

.cadastrar-cantinas p{
    color: red;
}

.cantinas img {
    height: 130px;
    background: #FA680F;
    border-radius: 1rem;
    margin: 20px 20px 0 20px;
}

.card-admin:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .gerenciar-cantinas img {
        display: none;
    }
}