@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body

.main-lanchonete {
    width: 100%;
    color: #FA240F;
}

.info-lanchonete-selecionada {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-lanchonete img{
    max-height: 100%;
    max-width: 100%;
}

.txt-lanchonete {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    color: #FA240F;
    padding-left: 5px;
    background: #fdf1cf;
}

.amostragem {
    width: 97%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fdf1cf;
    gap: 10px;
    margin: 20px;
    padding: 20px;
    border-radius: 81px;
    box-shadow: 5px 5px 0px #656053, -5px -5px 0px #ffffff;
}

.seletor-categoria {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: #FA680F solid 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

.card-categoria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    gap: 40px;
}

.card-categoria a {
    color: #FA240F;
}

.categoria {
    font-family: 'Pacifico', cursive;
    color:#FA240F;
}

.card-lanche {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
}

.card-lanche img {
    border-radius: 60px;
    width: 120px;
    height: 120px;
}

.card-lanche:hover {
    transform: scale(1.1);
}

@media (max-width: 1250px) {
    .card-categoria {
        gap: 100px;
    } 
}

@media (max-width: 900px) {
    .info-lanchonete-selecionada {
        flex-direction: column;
    }

    .amostragem {
        width: 95%;
    }

    .txt-lanchonete {
        padding: 20px;
        border-bottom: #656053 2px solid;
    }   

    .card-categoria {
        gap: 40px;
    }
}

@media (max-width: 680px) {
    .card-categoria {
        gap: 100px;
    }
}

@media (max-width: 580px) {
    .card-categoria {
        gap: 40px;
    }
}

@media (max-width: 460px) {
    .card-lanche img {
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }
    .card-lanche {
        font-size: 13px;
    }

    .nome-lanche {
        width: 70px;
    }

    .amostragem {
        width: 90%;
    }
}
