@import '/css/cores.css';
@import'/css/header.css';
@import '/user/lanchonete1/lanchonete1.css';


main {
    display: flex;
    color: var(--header-color-two);
}

.menu {
    height: 90vh;
    width: 300px;
    padding: 5px;
    border-right: 2px solid var(--header-color-one);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu img {
    width: 200px;
}

.opcoes-menu {
    width: 90%;
    margin-top: 10px;
}

.opcoes-menu div {
    max-width: 100%;
    margin-top: -1px;
    padding: 5px;
    border-bottom: 1px solid var(--header-color-one);
    border-top: 1px solid var(--header-color-one);
    cursor: pointer;
}

.configurar-cantina, .agendamentos-realizados {
    width: 100%;
    padding: 50px;
}
.info {
    display: flex;
    height: 50%;
}
.info-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-txt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-txt div {
    border: 1px solid #FA680F;
    background-color: #FFFFFF;
    margin: 0 5%;
    padding: 15px;
    border-radius: 3rem;
}
.info-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 5px 20px;
    background-color: #FFFFFF;
    color: #FA240F;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #FA240F;
    border-radius: 1rem;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background-color: #FA240F;
    color: #FFFFFF;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.logo-lanchonete {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 20px;
    background-color: #FA680F;
    transition: 0.3s;
    box-shadow:  15px 15px 30px #afa8a5;
}
.cantinas-cadastradas .logo-lanchonete:hover {
    transform: scale(1.1);
}
.logo-lanchonete img {
    max-height: 100%;
}

.card-agendamento {
    width: 200px;
    height: 200px;
    border: 1px solid var(--header-color-one);
}